<div class="container" style="align-items: center; width: 50%;" *ngIf="(userName==='admin')">
    <div class="card shadow-sm mb-3" style="margin-top: 1.5rem;">
        <div class="card-header bg-black text-white align-items-center">
            <h4 id="title">Add New Movie Show Time</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="auditorium" class="col-form-label">Auditorium</label>
                    </div>
                    <div class="col-auto">
                        <select name="auditorium" id="auditorium" [(ngModel)]="newShowTime.auditoriumId">
                            <option *ngFor="let theater of auditoriumList" value="{{theater.id}}">
                                {{theater.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="name" class="col-form-label">Movie Name</label>
                    </div>
                    <div class="col-auto">
                        <select name="name" id="name" [(ngModel)]="newShowTime.movieId">
                            <option value=" "> </option>
                            <option *ngFor="let movie of moviesList" value="{{movie.id}}">
                                {{movie.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="showTimes" class="col-form-label">Show Times</label>
                    </div>
                    <div class="col-auto">
                        <select name="showTimes" id="showTimes" [(ngModel)]="newShowTime.time">
                            <option value="10:00am">10:00am</option>
                            <option value="1:30pm">1:30pm</option>
                            <option value="4:00pm">4:00pm</option>
                            <option value="7:00pm">7:00pm</option>
                            <option value="11:00pm">11:00pm</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="availableSeats" class="col-form-label">Available Seats</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" id="availableSeats" class="form-control" name="availableSeats" size="60"
                            [(ngModel)]="newShowTime.availableSeats" required />
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="price" class="col-form-label">Price</label>
                    </div>
                    <div class="col-auto">
                        <input type="number" step="0.01" id="price" class="form-control" name="price" size="60"
                            [(ngModel)]="newShowTime.price" required />
                    </div>
                </div>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="startdate" class="col-form-label">Show Start Date</label>
                    </div>
                    <div class="col-auto">
                        <input type="date" id="startdate" class="form-control" [(ngModel)]="newShowTime.date"
                            name="startdate" placeholder="Action" size="30" required>
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" id="btnSubmit" class="btn btn-dark mt-4" (click)="addorUpdateMovieShowTime()">
                        <i class="bi bi-file-plus"></i> Add Show Time
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>