<div class="d-flex flex-column flex-md-row align-items-start" style="margin-top: 1.5rem;">
    <div class="col-auto" style="margin-right: 1.5rem;">
    <header>
        <h3 *ngIf="isAdminPage===false">NMS Cinemas Movies List</h3>
        <h5 *ngIf="isAdminPage===true">Now Playing</h5>
    </header>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" href="/movieadd">Add Movie</a>
    </div>
</div>
<div class="position-relative">

    <!-- Prev -->
    <button type="button" class="btn btn-dark shadow position-absolute top-50 translate-middle-y z-2"
        style="left: .5rem;" (click)="scrollStrip(-1)">
        ‹
    </button>

    <div #strip id="cardStrip" class="card-strip d-flex gap-3 overflow-auto flex-nowrap py-2">
        <div class="card shadow-sm" *ngFor="let movie of moviesList" style="width: 250px; height: 460px;">
            <img src="{{apiUrl}}{{movie.image}}" width="480" height="240" class="card-img-top" alt="Sample 1">
            <div class="card-body">
                <a href="/moviedetails?id={{movie.id}}" class="stretched-link text-decoration-none text-dark"></a>
                <div>
                    <h5 class="card-title" [ngClass]="movie.name">{{movie.name}}</h5>
                    <p class="card-text small text-body-secondary">{{movie.rating}} | {{movie.length}}</p>
                    <p class="card-text small text-body-secondary">{{movie.releaseDate}}</p>
                </div>
                <div class="mt-auto text-end" *ngIf="(userName==='admin')">
                    <button class="btn btn-small btn-outline-danger position-relative z-1"
                        (click)="deleteMovie(movie.id, $event)">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Next -->
    <button type="button" class="btn btn-dark shadow position-absolute top-50 end-0 translate-middle-y z-10"
        (click)="scrollStrip(1)" aria-label="Next">
        ›
    </button>
</div>