
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-0">
  <div class="container">
    <a class="navbar-brand" href="#">NMS Cinemas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!loginSuccess">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" >Login</a>
        </li>
        <li class="nav-item" *ngIf="loginSuccess">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item" *ngIf="(userName==='admin')">
          <a class="nav-link" routerLink="/movies" routerLinkActive="active" >Movies</a>
        </li>
        <li class="nav-item" *ngIf="(userName==='admin')">
          <a class="nav-link" routerLink="/movieshowtimes" routerLinkActive="active" >Show Times</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto" *ngIf="loginSuccess">
        <li class="nav-item">
          <button class="btn btn-outline-light btn-sm" (click)="logOut()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet />